version: '1.0'
services:
  nginx:
    build: ./local/nginx
    volumes:
      - ./local/nginx/conf/nginx.conf:/etc/nginx/nginx.conf
      - ./local/nginx/conf/vhost:/etc/nginx/vhost
      - ./local/nginx/logs:/etc/nginx/logs
      - ../sites:/data/sites
    ports:
      - "80:80"
    restart: always
    links:
      - php

  php:
    build: ./local/php
    volumes:
      - ../sites:/data/sites
      # - ./local/php/conf/php.ini:/usr/local/etc/php/php.ini
    restart: always
    environment:
      - TS_DEBUG=0
    extra_hosts:
      - docsxyz.com:192.168.1.108
    links:
      - redis

  mysql:
    image: "mysql:5.7"
    volumes:
      - ./local/mysql/data:/var/lib/mysql
      - ./local/mysql/my.cnf:/etc/my.cnf
    ports:
      - "3306:3306"
    restart: always
    environment:
      - MYSQL_DATABASE=mysql

  ### REDIS Container #######################################
  redis:
    image: redis:5-alpine
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - "./redis/data:/data"
